//Google fonts
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

$border-color: #e4e4ed;
$font-small: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #edeaea;
}

//HAMBURGER MENU + MAIN NAV TEXT

.main-nav {
  display: flex;
  width: 100vw;
  height: 5rem;
  background-color: #0f1940;

  &__hamburger {
    width: 5rem;
    height: auto;
    background-image: url(./hamburgerMenu.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    filter: invert(100%); // inside color to outside

    &:hover {
      opacity: 0.5;
      background-color: #c8c8c3;
    }
  }

  &__text {
    margin: auto;
    text-transform: uppercase;
    font-family: 'Space Mono', monospace;
    font-size: 1.8rem;
    letter-spacing: 0.8rem;
    color: #fff;
  }
}

.main-nav__hamburger,
.side-nav__list {
  cursor: pointer;
}

// wanneer men op de navbar hovert wil ik dat de .side-nav__list dit doet
.navbar:hover .side-nav__list {
  transition: margin-left 1000ms;
}

//SIDENAVBAR
.side-nav__list {
  border: 2px $border-color solid;
  margin-left: -200px;
  width: 200px;
  transition: margin-left 2ms ease-in-out;

  & .home {
    background-color: #cdcdcd;
  }

  & .pink {
    background-color: #e893d3;
  }

  & .yellow {
    background-color: #ecef60;
  }

  & .green {
    background-color: #6efd6e;
  }

  & .blue {
    background-color: #90b1f3;
  }

  & .orange {
    background-color: #f0aa42;
  }

  & .red {
    background-color: #ff0000;
  }

  &--item {
    text-transform: uppercase;
    padding: 1.8rem 0 1.8rem 4rem;
    border: solid 1px $border-color;
    font-family: $font-small;
    font-size: 1.4rem;

    &:hover {
      font-weight: bold;
    }
  }
}

// ==================
// COLOR DISPLAY TEXT
// ==================

.colordisplay {
  border: 1px solid $border-color;
  width: min(50%, 600px);
  border-radius: 200px;
  background-color: #ffffff;
  min-height: 12rem;
  margin: auto;
  display: flex;
  line-height: 1.5;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & h2,
  &__text {
    text-transform: uppercase;
    font-family: $font-small;
  }
  & h2 {
    font-size: 3rem;
  }

  &__text {
    font-size: 2.5rem;
  }
}

.key-down {
  text-align: center;
  margin: 6rem 0;
  font-family: $font-small;
  font-size: 2rem;
}
// =================
// Media Queries
// =================

@media only screen and (min-width: 320px) and (max-width: 667px) {
  main.colordisplay {
    margin-top: 3rem;
    width: 70%;
    

    & h2,
    & text {
      font-size: 2rem;
    }
  }

  .key-down {
    font-size: 1.8rem;
    margin-top: 3rem;
  }


  .side-nav__list--item {
    font-size: 1.2rem;
    padding: 1rem 0 1rem 3rem;

   
  }
}
